
/******************** LANDING PAGE STYLING ********************/
/* Below styling is divided into sections as identified by
their class names on HTML (index.html). Each section order
below is as it appears in the same order within the landing
page. */

/****************BODY (LANDING PAGE)****************/
body {
  margin: 0px;
  height: 4490px;
}



/****************COMMON STYLING ACROSS PAGE****************/
/* Styling for the sub headings/labels
that appear across the page
(e.g. "Quick Snapshot", "Featured Work")
*/
.landing-label {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #E13389;
}

/* Styling for the font/text that
appears within the CTA buttons
across the page */
.cta-button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the CTA buttons
across the page */
.case-button {
  height: 44px;
  width: 239px;
  border-radius: 5px;
  background-color: #E13389;
  margin-right: 0px;
}



/****************HEADER SECTION STYLING****************/
/* Positioning the container
of this section*/
header {
  position: relative;
  height: 113px;
}

.nav-header {
  position: absolute;
  height: 113px;
  width: 1116px;
  left: 343px;
}

.nav-header img {
  position: absolute;
  left: 0px;
  top: 49px;
}

.nav-items {
  position: absolute;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 30px;
  right: 0px;
  bottom: 25px;
}

/* styling and positioning the
navigation list */
.nav-items li {
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin-right: 41px;
}

/* changing the styling of the a tags;
removing their underline default styling.
Also, turning them to color black*/
.nav-items a {
  text-decoration: none;
  color: #000000;
}

/* exploring the idea of creating a
hover styling. For now, this has been opted out
but will come to revisit it */
/*
.nav-items a:hover {
  background-color: #E13389;
  color: white;
}
*/

/* All nav items have the same styling
with the exception of the "contact button"*/
.nav-items .contact-button {
  height: 30px;
  width: 121px;
  border-radius: 5px;
  background-color: #E13389;
  margin-right: 0px;
}

/* All nav items have the same styling
with the exception of the "contact button"*/
.nav-items .contact-button a {
  color: #ffffff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/****************FOLD AREA STYLING (class: hero-container)****************/
/* Positioning the container
of this section*/
.hero-container {
  position: relative;
  width: 1116px;
  left: 343px;
  margin-top: 214px;
}

.hero-container h1 {
  font-size: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 88px;
  margin: 0px;
}

.hero-container .headline-title-emphasis {
  color: #E13389;
}

.hero-container h2 {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 75px;
  margin: 85px 0px 0px 0px;
}



/*****************BLACK BOX POSITIONING & STYLING*****************/
/* Positioning and styling
the black box that appears
to the left of the fold area
headings */
.black-box {
  background-color: #000000;
  height: 246px;
  width: 73px;
  position: absolute;
  top: 327px;
}



/****************QUICK SNAPSHOT (class: quick-snapshot-container)****************/
/* Positioning the container
of this section*/
.quick-snapshot-container {
  position: relative;
  left: 343px;
  width: 1116px;
  height: 547px;
  margin-top: 245px;
}

.personal-image {
  display: inline-block;
  }

.snapshot-text {
  display: inline-block;
  position: absolute;
  left: 537px;
}

.snapshot-skills {
  list-style: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

.snapshot-skills-heading {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 27px;
}

.snapshot-skills-subheading {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 11px;
}

.snapshot-skills-text {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin-top: 11px;
}

.snapshot-description h3 {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 0px;
}



/****************FEATURED WORK (class: featured-work-container)****************/
/* The divider line that
appears right above the
featured work section */
hr {
  position: relative;
  left: 343px;
  width: 1116px;
  margin: 70px 0px 29px 0px;
}

/* Positioning the container
of this section*/
.featured-work-container {
  position: relative;
  left: 343px;
  width: 1116px;
}

.featured-work-container h5 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #E13389;
  margin: 0px 0px 68px 0px;
}

/* styling and positioning
of the FIRST featured case */
.case-image-one {
  display: inline-block;
  position: relative;
  right: 60px;
  bottom: 20px;
}

.case-mockup-description {
  display: inline-block;
  position: absolute;
  left: 685px;
}

/* styling and positioning
of the SECOND featured case */
.case-two {
  margin-top: 113px;
}
.case-image-two {
  display: inline-block;
  position: relative;
  left: 576px;
}

.case-two .case-mockup-description {
  left: 0px;
}

.case-two h3 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  color: #A64D79;
  margin: 0px;
}

/* Styling for sections/text
that applies to all cases */
.case-mockup-brief h4 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  margin: 35px 0px 68px 0px;
}

/****************GET IN TOUCH SECTION (class: get-intouch-wrapper)****************/
/* Positioning the container
of this section*/
.get-intouch-wrapper {
  position: relative;
  height: 550px;
  background-color: #F8FAFA;
  margin-top: 211px;
}

.get-intouch-container {
  width: 1116px;
  position: absolute;
  left: 343px;
  margin-top: 50px;
}

.get-intouch-container h1 {
  font-size: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 113px;
  color: #000000;
  margin: 0px 0px 41px 0px;
}

.mission-statement h3 {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  color: #000000;
}

.connect-with-me h3 {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}



/****************ILLUSTRATION SECTION (class: illustration-toronto)****************/
/* Positioning the illustration
of the landing page */
.illustration-toronto {
  position: relative;
  mix-blend-mode: darken;
  left: 163px;
  bottom: 110px;
}



/****************FOOTER SECTION (class: footer-wrapper)****************/
/* Positioning the container
of this section*/
.footer-wrapper {
  position: relative;
  bottom: 194px;
  height: 402px;
  background-color: #000000;
}

/* Positioning the sub-container
of this section*/
.footer-container {
  position: absolute;
  left: 733px;
  text-align: center;
  margin-top: 69px;
}

.footer-heading {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  color: #ffffff;
  margin: 0px;
}

/* styling and positioning
the social links buttons */
.social-links ul {
  padding: 0px;
  margin: 54px 0px 0px 0px;
}

.social-links li {
  display: inline-block;
  text-decoration: none;
}

.social-links .linkedin, .social-links .twitter {
  margin-right: 50px;
}

/* styling and positioning
the copyright section */
.copyright {
  position: relative;
}

.copyright h5 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: #ffffff;
  margin: 118px 0px 0px 0px;
}



/******************** CASE STUDY PAGE STYLING ********************/
/* Below styling is divided into sections as identified by
their class names on HTML (index.html). Each section order
below is as it appears in the same order within the landing
page. */

/****************BODY (LANDING PAGE)****************/
body {
  margin: 0px;
  height:
