
/******************** LANDING PAGE STYLING ********************/
/* Below styling is divided into sections as identified by
their class names on HTML (index.html). Each section order
below is as it appears in the same order within the landing
page. */

/****************BODY (LANDING PAGE)****************/
.landing-body {
  margin: 0 auto;
  max-width: 1920px;
}

/* scrolling beahvior  */
html {
  scroll-behavior: smooth;
}

/****************COMMON STYLING ACROSS LANDING PAGE****************/
/* Styling for the sub headings/labels
that appear across the page
(e.g. "Quick Snapshot", "Featured Work")
*/
.landing-label {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #E13389;
}

/* Styling for the font/text that
appears within the CTA buttons
across the page */
.cta-button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the CTA buttons
across the page */
.case-button {
  height: 44px;
  width: 239px;
  border-radius: 5px;
  background-color: #E13389;
  margin-right: 0px;
}

.container-fluid {
  padding: 0% 12% 0% 12%;
}

@media screen and (min-width: 1280px){
  .container-fluid {
    padding: 0% 7% 0% 8%;
  }
}

@media screen and (min-width: 1366px) {
  .container-fluid {
    padding: 0% 10% 0% 10%;
  }
}

@media screen and (min-width: 1700px){
  .container-fluid {
    padding: 0% 20% 0% 16.5%;
  }
}

/****************HEADER SECTION STYLING****************/
/* Positioning the container
of this section*/
header {
  position: relative;
  height: 59px;
  margin-top: 45px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  width: 60%;
}

@media screen and (min-width: 992px) {
  .nav-items li {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-items li {
    margin-right: 41px;
    width: auto;
  }

  .nav-items .contact-button {
    margin-right: 0px;
  }

  .nav-items .contact-button a {
    width: 121px;
  }
}

.nav-items {
  height: 30px;
  width: auto;
}

.nav-item {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}


.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding: 0;
  margin: auto 0;
  height: 30px;
  display: flex;
  align-items: center;
}


/* All nav items have the same styling
with the exception of the "contact button"*/
.nav-items .contact-button {
  height: 30px;
  width: 121px;
  border-radius: 5px;
  background-color: #E13389;

}

/* All nav items have the same styling
with the exception of the "contact button"*/
.nav-items .contact-button .nav-link {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.navbar-light .navbar-nav .contact-button a{
  color: #fff;
}

/****************FOLD AREA STYLING (class: hero-container)****************/
/* Positioning the container
of this section*/
.hero-container {
  margin-top: 214px;
}

.hero-container h1 {
  font-size: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 88px;
  margin: 0px;
}

.hero-container .headline-title-emphasis {
  color: #E13389;
}

.hero-container h2 {
  font-size: 3.125rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 75px;
  margin: 85px 0px 0px 0px;
}

/* Styling and positioning for
responsive behavior*/
@media screen and (max-width: 750px) {

  .hero-container h1{
    font-size: 2.75rem;
    line-height: 120%;
  }

  .hero-container h2 {
    font-size: 1.75rem;
    line-height: 182%;
    margin-top: 70px;
  }
}

/*****************BLACK BOX POSITIONING & STYLING*****************/
/* Positioning and styling
the black box that appears
to the left of the fold area
headings */

.black-box {
  display: none;
}

@media screen and (min-width: 1280px) {
  .black-box {
    display: block;
    background-color: #000000;
    height: 246px;
    width: 73px;
    position: absolute;
    top: 327px;
  }
}


@media screen and (min-width: 1920px) {
  .black-box {
    height: 0;
    width: 0;

  }
}

/****************QUICK SNAPSHOT (class: quick-snapshot-container)****************/
/* Positioning the container
of this section*/
.quick-snapshot-container {
  position: relative;
  /* left: 343px;
  width: 1116px;
  height: 547px; */
  margin-top: 245px;
}

.snapshot-skills {
  list-style: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

.snapshot-skills-heading {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 27px;
}

.snapshot-skills-subheading {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 11px;
}

.snapshot-skills-text {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin-top: 11px;
}

.snapshot-description h3 {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .quick-snapshot-container {
    margin-top: 131px;
  }

  .personal-image img {
    width: 290px;
  }

  .snapshot-text {
    margin-top: 24px;
  }
}

/****************FEATURED WORK (class: featured-work-container)****************/
/* The divider line that
appears right above the
featured work section */
hr {
  margin: 70px 0px 29px 0px;
}

/* Positioning the container
of this section*/
.featured-work-container {
  position: relative;
}

.featured-work-container h5 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #E13389;
  margin: 0px 0px 68px 0px;
}

/* Styling for sections/text
that applies to all cases */
.case-mockup-brief h4 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  margin: 35px 0px 68px 0px;
}

.case-mockup-description {
  display: inline-block;
}

/* styling and positioning
of the SECOND featured case */
.case-two {
  margin-top: 113px;
}

.case-two h3 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  color: #A64D79;
  margin: 0px;
}

@media screen and (max-width: 750px) {
  hr {
    border: 0;
  }

  .featured-work-container .landing-label {
    margin-top: 74px;
    margin-bottom: 40px;
  }

  .case-mockup-brief h4 {
    margin-bottom: 30px;
  }

  .case-image-one img {
    width: 280px;
    position: relative;
    right: 20px;
  }

  .case-image-two img {
    width: 330px;
    position: relative;
  }

  .case-one .case-button, .case-two .case-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .case-image-one img, .case-image-two img {
    width: 100%;
  }

  .container-fluid {
    padding: 0% 8% 0% 8%;
  }

  .case-one .case-button {
    position: absolute;
    bottom: 100px;
  }

  .case-two .case-button {
    position: absolute;
    bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .case-image-one {
    display: inline-block;
    position: relative;
    right: 60px;
    bottom: 20px;
  }

  .case-one .case-mockup-description {
    position: absolute;
    left: 144px;
  }

  .case-one .case-button {
    position: absolute;
    bottom: 340px;
    left: 144px;
  }

  .case-two .case-button {
    position: absolute;
    bottom: 100px;
  }
}

/****************GET IN TOUCH SECTION (class: get-intouch-wrapper)****************/
/* Positioning the container
of this section*/
.get-intouch-wrapper {
  height: 550px;
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: #F8FAFA;
  margin-top: 211px;
}

.get-intouch-wrapper .row {
  margin-right: auto;
}

.get-intouch-container {
  margin: 50px auto 0;
  padding: 0% 22% 0% 22%;
  max-width: 2200px;
}

.get-intouch-container h1 {
  font-size: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 113px;
  color: #000000;
  margin: 0px 0px 41px 0px;
}

.mission-statement h3 {
  font-size: 26px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  color: #000000;
}

.connect-with-me h3 {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}



@media screen and (min-width: 1366px){
  .get-intouch-container {
    padding: 0% 30% 0% 10%
  }
}

@media screen and (min-width: 1440px) {
  .get-intouch-container {
    padding: 0% 37% 0% 10%;
  }
}

@media screen and (min-width: 1700px){
  .get-intouch-container {
    padding: 0% 25% 0% 16.5%
  }
}

@media screen and (max-width: 768px) {
  .get-intouch-wrapper {
    margin-top: 149px;
  }

  .get-intouch-container {
    margin-top: 38px;
    width: auto;
    padding: 0 10%;
  }

  .get-intouch-container h1 {
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 45px;
    line-height: 24px;
  }

  .mission-statement h3, .connect-with-me h3{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .mission-statement h3 {
    margin-bottom: 33px;
  }

  .get-intouch-container .case-button {
    margin: auto;

  }
}

/****************ILLUSTRATION SECTION (class: illustration-toronto)****************/
/* Positioning the illustration
of the landing page */
.illustration-toronto {
  mix-blend-mode: darken;
  position: relative;
  top: 695px;
  right: 180px;
}

/* container 520 px - everything else at zero for positions
then the image at left 150px  */

/* .illustration-toronto {
  left: 0;
  right: 520px;
} */

/* .illustration-toronto img {
  width: 150%;
  left: 150px;
  right: 0px;
} */

@media screen and (max-width: 768px) {
  .illustration-toronto {
    right: 430px;
  }

  .illustration-toronto img {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  /* .illustration-toronto {
    right: 180px;
  } */

  .illustration-toronto {
    margin-top: 35px;
  }

  .illustration-toronto img {
    /* width: 650px; */
    width: 210%;
    position: absolute;
    left: 148px;
  }
}

@media screen and (min-width: 414px) {
  .illustration-toronto img {
    width: 190%;
  }
}

@media screen and (min-width: 750px) {
  .illustration-toronto {
    top: 630px;
  }

  .illustration-toronto img {
    width: 185%;
  }
}

@media screen and (min-width: 900px) {
  .illustration-toronto {
    top: 630px;
  }

  .illustration-toronto img {
    width: 127%;
  }
}

@media screen and (min-width: 1024px) {
  .illustration-toronto {
    right: 650px;
    top: 660px;
  }

  .illustration-toronto img {
    width: 168%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .illustration-toronto {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1584px) {
  .illustration-toronto {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .illustration-toronto {
    right: 350px;
  }

  .illustration-toronto img {
    width: 140%;
  }
}

@media screen and (min-width: 1460px) {
  .illustration-toronto img {
    width: auto;
  }
}

/****************FOOTER SECTION (class: footer-wrapper)****************/
/* Positioning the container
of this section*/
.footer-wrapper {
  margin-top: 567px;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 453px;
  background-color: #000000;
}


/* removing the margin-right bootstrap styling
from the .row class of the footer */
.footer-wrapper .row {
  margin-right: auto;
}

/* Positioning the sub-container
of this section*/
.footer-container {
  margin-top: 69px;
  text-align: center;
}

.footer-heading {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  color: #ffffff;
  margin: 0px;
}

/* styling and positioning
the social links buttons */
.social-links ul {
  padding: 0px;
  margin: 54px 0px 0px 0px;
}

.social-links li {
  display: inline-block;
  text-decoration: none;
}

.social-links .linkedin, .social-links .twitter {
  margin-right: 50px;
}

/* styling and positioning
the copyright section */
.copyright {
  position: relative;
  padding: 0 0 5% 0;
}

.copyright h5 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: #ffffff;
  margin: 118px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  .footer-wrapper {
    margin-top: 885px;
  }

  .footer-container {
    padding: 0 10%;
    margin-top: 36px;
  }

  .footer-heading {
    font-size: 2.0rem;
  }
}

@media screen and (min-width: 992px) {
  .footer-wrapper {
    height: auto;
  }
}

/******************** CASE STUDY PAGE STYLING ********************/
/* Below styling is divided into sections as identified by
their class names on HTML (index.html). Each section order
below is as it appears in the same order within the landing
page. */

/****************BODY (CASE STUDY PAGE)****************/
.case-body {
  margin: 0 auto;
  /* height: 21423px; */
  max-width: 1920px;
}

.case-body .container-fluid {
  padding: 0% 11% 0% 11%;
}

/****************COMMON STYLING ACROSS CASE ONE PAGE****************/
/* Styling for the font/text that
appears within the CTA buttons
across the page */
.cta-button {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the CTA buttons
across the case study page */
.case-study-button, .desktop-prototype-button, .mobile-prototype-button {
  height: 44px;
  width: 275px;
  border-radius: 5px;
  list-style: none;
  background-color: #E13389;
  margin-right: 0px;
}

/* Styling for the font/text that
appears within the CTA buttons
across the case study page */
.case-study-button a, .desktop-prototype-button a, .mobile-prototype-button a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* Styling for the large section
headlines of the case study */
.section-heading h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  margin: 0px;
}

.section-box h3, .problem-box h3, .solution-box h3, .section-box-assumptions h3, .section-box-competition h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #E13389;
}

.section-box p, .problem-box p, .solution-box p, .section-heading p, .paragraph-description p, .section-box-assumptions p, .section-box-competition p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  margin-top: 42px;
}

.highlights-title h2, .features-title, .horizontal-section-title h2, .concluding-section-title,
.horizontal-section-wrapper-one h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  color: #000000;
}

.deliverables-points h3, .features-points h3, .points-description h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  color: #000000;
}

.paragraph-description {
  /* width: 540px; */
}

.horizontal-section-wrapper {
  position: relative;
  background-color: #F7F9FF;
  margin-top: 97px;
  width: 100%;
}

.emphasis-bold {
  font-weight: 700;
}

/****************HEADER SECTION STYLING****************/
.header-case {
  position: relative;
  height: 122px;
}

.case-sections {
  display: none;
}

/* change display of the "case nav bar sections" */
@media screen and (min-width: 992px) {
  .case-sections {
    top: 90px;
    position: absolute;
    top: 230px;
    margin: 0px;
    padding: 0px;
  }

  .case-sections li {
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    margin-right: 34px;
  }

  .case-sections a {
    padding: 0;
    text-decoration: none;
    color: #000000;
  }
}

/****************HERO CASE STYLING (class: hero-case-container)****************/
/* Positioning the container
of this section*/
.hero-case-container {
  position: relative;
  margin-top: 87px;
}

.case-brief-wrapper {
  position: relative;
  height: 656px;
}

.case-brief {
  display: inline-block;
}

.case-name img {
  padding: 0;
}

.case-headline-text h4 {
  font-size: 1.55rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 182%;
  color: #000000;
  margin: 0px;
}

.case-headline-text{
  margin-top: 56px;
}

.case-hero-buttons .desktop-prototype-button {
  margin-top: 125px;
}

.case-hero-buttons .mobile-prototype-button {
  margin-top: 13px;
}

.case-brief ul {
  margin: 0px;
  padding: 0px;
}

.headline-images {
  position: absolute;
  top: 1078px;
  left: 0px;
  right: 0px;
  margin-top: 34px;
}

.headlie-images-tablet {
  display: none;
}

.case-hero-image img {
  position: relative;
  width: 100%;
  margin-top: 56px;
}

.case-headline-text {
  margin-top: 47px;
}

.headline-images {
  display: none;
}

.case-hero-buttons .desktop-prototype-button {
  margin-top: 48px;
}

.headline-images-mobile {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 1450px;
}

.headline-images-mobile img {
  position: absolute;
  left: 0px;
  right: 0px;
  /* width: 500px; */
  width: 100%;
}

.headline-images-tablet {
  display: none;
}

/* Responsive section */
@media screen and (min-width: 1024px) and (max-width: 1279px){
  .case-hero-buttons {
    top: 66px;
  }

  .case-headline-text {
    margin-top: 150px;
    right: 414px;
  }

  .case-headline-text h4 {
    font-size: 1.20rem;
  }

  .case-hero-image {
    bottom: 370px;
    left: 26px;
  }

  .headline-images, .headline-images-mobile {
      display: none;
    }
  .headline-images-tablet {
    display: block;
    width: 87.75%;
    position: absolute;
    left: 0;
  }
  .headline-images-tablet img {
    width: 114%;
  }
}

@media screen and (min-width: 1280px) {
  .case-headline-text {
    position: absolute;
    width: 470px;
    margin-top: 134px;
  }

  .case-headline-text h4 {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    color: #000000;
    margin: 0px;
  }

  .case-hero-image {
    position: absolute;
    top: 25px;
    left: 511px;
  }

  .case-hero-buttons {
    position: absolute;
    top: 352px;
    width: 470px;
  }

  .headline-images-mobile, .headline-images-tablet {
    display: none;
  }

  .headline-images {
    display: block;
    position: absolute;
    top: 1078px;
    left: 0px;
    right: 0px;
    margin: 34px auto 0;
    max-width: 1920px;
  }

  .headline-images img {
    margin: 0 auto;
    width: 100%;
  }
}

/****************SNAPSHOT AREA STYLING (class: case-snapshot-container)****************/
/* Positioning the container
of this section*/

.case-snapshot-container {
  position: relative;
  top: 1000px;
}

.case-final-mockup img {
  /* width: 400px; */
  width: 100%;
}

.snapshot-line {
  width: 64px;
  height: 0px;
  border: 1.5px solid #E13389;
  left: 15px;
  margin-bottom: 53px;
}

.small-label, .small-label-roles {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

.roles-text, .deliverables-text, .toolkits-text, .timeline-text {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin-top: 11px;
}

.small-label {
  margin-top: 30px;
}

/* Responsive section */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .case-snapshot-container {
    top: 750px;
  }

  .snapshot-line {
    width: 126px;
    height: 0px;
    border: 1.5px solid #E13389;
    position: absolute;
    top: 15px;
    left: 415px;
    display: block;
  }
  .case-roles-deliverables {
    top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .case-snapshot-container {
    position: relative;
    top: 566px;
  }

  .case-final-mockup {
    position: relative;
    top: 15px;
  }

  .case-final-mockup img {
    width: auto;
  }

  .snapshot-line {
    width: 126px;
    height: 0px;
    border: 1.5px solid #E13389;
    position: absolute;
    left: 641px;
    top: 45px;
    display: inline-block;
  }

  .case-roles-deliverables {
    position: absolute;
    left: 641px;
    top: 103px;
    width: 408px;
    display: inline-block;
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
  }

  .small-label, .small-label-roles {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
  }

  .roles-text, .deliverables-text, .toolkits-text, .timeline-text {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-top: 11px;
  }

  .small-label {
    margin-top: 30px;
  }
}

/**************** DIVIDER(s) ILLUSTRATION STYLING (class: section-divider)****************/
/* section divider one styling
and positioning */

.section-divider-one {
  position: absolute;
  padding: 0;
  mix-blend-mode: darken;
  top: 3080px;
  left: 30px;
  right: 0px;
  width: 85%;
}

.section-divider-one img {
  width: 100%;
  margin: 0 auto;
}



/* section divider two styling
and positioning */
.section-divider-two {
  position: absolute;
  padding: 0;
  mix-blend-mode: darken;
  top: 6850px;
  left: 30px;
  right: 0px;
  width: 85%;
}

.section-divider-two img {
  /* width: 950px; */
  width: 100%;
}


/* section divider three styling
and positioning */

.section-divider-three {
  position: absolute;
  /* width: 1466px; */
  /* top: 8772px; */
  /* left: 145px; */
  /* right: 0px; */
  /* margin-top: 124px; */
  padding: 0;
  mix-blend-mode: darken;
  top: 13876px;
  margin-top: 117px;
  left: 30px;
  right: 0px;
  width: 85%;
}

.section-divider-three img {
  width: 100%;
}


/* section divider four styling
and positioning */

.section-divider-four {
  position: absolute;
  /* width: 1466px;
  top: 13847px;
  left: 145px;
  right: 0px;
  margin-top: 124px; */
  padding: 0;
  mix-blend-mode: darken;
  top: 21830px;
  margin-top: 117px;
  left: 30px;
  right: 0px;
  width: 85%;
}

.section-divider-four img {
  width: 100%;
}

/* Responsive section */
@media screen and (min-width: 414px) {
  .section-divider-four {
    top: 21500px;
  }
}
@media screen and (min-width: 750px) {
  .section-divider-one {
    position: absolute;
    top: 3250px;
  }

  .section-divider-two {
    top: 7200px;
  }

  .section-divider-four {
    top: 20600px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .section-divider-one {
    top: 2250px;
  }

  .section-divider-two {
    top: 4900px;
  }

  .section-divider-three {
    top: 9900px;
  }

  .section-divider-four {
    top: 15500px;
  }
}



@media screen and (min-width: 1280px) {
  .section-divider-one {
    position: absolute;
    /* width: 1466px; */
    top: 2163px;
    left: 0px;
    right: 0px;
    padding: 0;
    mix-blend-mode: darken;
    max-width: 1920px;
    margin: 0 auto 60px;
  }

  .section-divider-one img {
    /* width: auto; */
  }

  .section-divider-two {
    position: absolute;
    /* width: 1466px; */
    top: 4370px;
    left: 0px;
    right: 0px;
    padding: 0;
    mix-blend-mode: darken;
    max-width: 1920px;
    margin: 0 auto;
  }

  .section-divider-two img {
    /* width: auto; */
  }

  .section-divider-three {
    position: absolute;
    /* width: 1466px; */
    top: 8985px;
    left: 0px;
    right: 0px;
    padding: 0;
    mix-blend-mode: darken;
    max-width: 1920px;
    margin: 124px auto 0;
  }

  .section-divider-three img {
    /* width: auto; */
  }

  .section-divider-four {
    position: absolute;
    /* width: 1466px; */
    top: 14400px;
    left: 0px;
    right: 0px;
    padding: 0;
    mix-blend-mode: darken;
    max-width: 1920px;
    margin: 124px auto 0;
  }

  .section-divider-four img {
    /* width: auto; */
  }

}

/****************CASE OVERVIEW STYLING (class: case-overview-container)****************/
/* Positioning the container
of this section*/

.section-heading {
  position: relative;
}

.summary-wrapper {
  position: relative;
  margin-top: 125px;
  height: 515px;
}

.case-overview-container {
  position: relative;
  top: 1300px;
  width: 100%;
}

.deliverables-wrapper {
  position: relative;
  top: 80px;
  display: inline-block;
  /* margin-left: 30px; */
  padding: 0;
  height: 550px;
  background-color: #F9F8FA;
}

.deliverables-box {
  position: absolute;
  top: 27px;
  height: 335px;
}

.deliverables-box .highlights-title {
  width: 190px;
  margin: 0 auto;
  text-align: center;
}

.deliverables-points {
  margin-top: 40px;
  margin: 37px auto 0;
  padding: 0% 5% 0% 5%;
}

.deliverables-points h3 {
  margin: 0px;
  margin-bottom: 20px;
  line-height: 25px;
}


.problem-solution-wrapper {
  position: relative;
  top: 1000px;
}

.solution-box {
  margin-top: 50px;
}

.overview-mockup {
  display: none;
}

.overview-mockup-mobileone {
  position: relative;
  top: 1001px;
  margin-top: 80px;
}

.overview-mockup-mobileone img {
  position: relative;
  width: 100%;
}

.overview-mockup-mobiletwo {
  position: relative;
  top: 1002px;
  margin-top: 30px;
  padding: 0;
}

.overview-mockup-mobiletwo img {
  position: relative;
  width: 100%;
}

/* Responsive section  */
@media screen and (min-width: 750px) {
  .deliverables-box {
    width: 90%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .problem-solution-wrapper {
    top: 700px;
  }

  .overview-mockup-mobileone {
    top: 700px;
  }

  .overview-mockup-mobiletwo {
    top: 700px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .deliverables-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .problem-solution-wrapper {
    top: 300px;
  }
  .solution-box {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
  }

  .overview-mockup-mobileone, .overview-mockup-mobiletwo {
    display: none;
  }

  .overview-mockup {
    display: block;
    position: relative;
    top: 0px;
    margin: 400px auto 0;
  }

}

@media screen and (min-width: 1280px) {
  .case-overview-container {
    position: relative;
    top: 960px;
  }

  .section-heading {
    position: relative;
  }

  .summary-wrapper {
    position: relative;
    margin-top: 125px;
    height: 515px;
  }

  .deliverables-wrapper {
    position: absolute;
    top: 77px;
    right: 15px;
    display: inline-block;
    margin-left: 30px;
    padding: 0;
    width: 540px;
    height: 445px;
    background-color: #F9F8FA;
  }

  .deliverables-box {
    position: absolute;
    left: 43px;
    top: 27px;
    width: 454px;
    height: 335px;
  }

  .deliverables-box .highlights-title {
    width: auto;
  }

  .deliverables-points {
    margin-top: 40px;
  }

  .deliverables-points h3 {
    margin: 0px;
    line-height: 38px;

  }

  .problem-solution-wrapper {
    top: auto;
    margin-top: 167px;
    height: 352px;
  }

  .problem-box, .solution-box {
    display: inline-block;
  }

  .problem-box {
    padding: 0 0 0 15px;
  }

  .solution-box {
    margin-top: 0px;
    margin-left: 48px;
    position: absolute;
    width: auto;
    padding: 0;
    top: 0px;
  }

  .overview-mockup-mobileone, .overview-mockup-mobiletwo {
    display: none;
  }

  .overview-mockup {
    display: block;
    position: relative;
    top: 0px;
    margin: 72px auto 0;
  }
}

/****************CASE RESEARCH STYLING (class: case-research-container)****************/
/* Positioning the container
of this section*/
.case-research-container {
  position: relative;
  /* top: 1350px; */
  top: 2550px;
  width: 100%;
}


.section-box-assumptions {
  margin-top: 20px;
}

.testing-assumptions-wrapper {
  position: relative;
  margin-top: 115px;
  width: 1116px;
}

.survey-screenshot img {
  display: none;
}

.survey-screenshot-mobile {
  display: block;
  left: 0px;
  right: 0px;
  margin-top: 53px;
  padding: 0 3%;
}

.survey-screenshot-mobile img {
  width: 100%;
}

.horizontal-section-wrapper-one {
  background-color: #F7F9FF;
  margin-top: 97px;
  /* height: 459px; */
  position: absolute;
  top: 9150px;
  height: 780px;
  width: 80%;
}

.horizontal-section-wrapper-one .features-title {
  padding: 0% 10%;
  margin: 0 auto;
}

.horizontal-section-wrapper-one .features-points {
  margin-left: 0px;
  padding: 0 6%;
}

.features-box {
  margin-top: 45px;
}

.features-title {
  position: relative;
  text-align: center;
}

.features-points {
  position: relative;
  margin-top: 34px;
  margin-left: 351px;
}

.features-list {
  position: relative;
  margin-top: 10px;
}

.features-list li {
  font-size: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  list-style: none;
  margin-bottom: 19px;
}

/* .features-list li {
  line-height: 25px;
} */

.features-list li::before {
  color: #E13389;
  content: "\25FC";
}

.competition-wrapper {
  position: absolute;
  top: 3000px;
  margin-top: 70px;
  left: 0px;
  right: 0px;
}

.section-box-competition {
  padding: 0;
}

.competition-wrapper .points-description, .competition-wrapper .paragraph-description {
  padding: 0
}

.research-sketches-wrapper img {
  display: none;
}

/* .research-sketches-wrapper {
  position: relative;
  top: 2400px;
} */

.sketch-titles li {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  display: inline-block;
}

.saving-item, .organize-item {
  margin-left: 160px;
}



.sketch-titles ul {
  text-align: center;
}

.sketch-titles {
  /* position: relative;
  right: 20px; */
  display: none;
}

.research-sketches {
  position: relative;
  margin-top: 46px;
  left: 58px;
}

.sketch-onboarding, .sketch-saving, .sketch-organizing {
  top: 1800px;
  text-align: center;
}

.sketch-onboarding img, .sketch-saving img, .sketch-organizing img {
  width: 100%;
}

.sketch-onboarding {
  margin-top: 220px;
}

.sketch-saving, .sketch-organizing {
  margin-top: 63px;
}

.defining-users-wrapper {
  position: absolute;
  top: 5500px;
  height: 639px;
  margin-top: 131px;
}

.user-persona-one, .user-persona-two {
  margin-top: 84px;
  text-align: center;
  padding: 0;
}

.persona-image {
  margin-bottom: 71px;
}

.user-persona-one .case-study-button, .user-persona-two .case-study-button {
  margin: 0 auto;
}

/* Responsive section */
@media screen and (min-width: 414px) {
  .horizontal-section-wrapper-one {
    top: 9050px;
  }
}

@media screen and (min-width: 750px) {
  .case-research-container {
    top: 2350px;
  }

  .horizontal-section-wrapper-one {
    top: 9000px;
    height: 600px;
  }

  .competition-wrapper {
    top: 2200px;
  }

  .sketch-onboarding, .sketch-saving, .sketch-organizing {
    top: 1550px;
    width: 70%;
    text-align: center;
    margin: 63px auto 0;
  }

  .defining-users-wrapper {
    top: 5000px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .case-research-container {
    top: 1700px;
  }

  .section-box-assumptions {
    position: absolute;
    left: 0;
    padding-left: 0;
    top: 600px;
  }

  .survey-screenshot-mobile {
    display: none;
  }

  .survey-screenshot, .survey-screenshot img {
    display: block;

  }

  .survey-screenshot {
    top: 685px;
  }

  .survey-screenshot img {
    width: 100%;
  }

  .horizontal-section-wrapper-one {
    top: 6830px;
  }

  .sketch-onboarding, .sketch-organizing, .sketch-saving {
    display: none;
  }

  .research-sketches-wrapper {
    position: absolute;
    top: 3150px;
  }

  .sketch-titles {
    display: inline-block;
    position: absolute;
    right: 20px;
  }

  .sketch-titles ul {
    text-align: center;
  }

  .saving-item {
    margin-left: 108px;
  }
  .organize-item {
    margin-left: 100px;
  }

  .research-sketches img {
    display: block;
    width: 100%;
  }

  .defining-users-wrapper {
    top: 3670px;
  }

  .user-persona-one, .user-persona-two {
    display: inline-block;
  }

  .user-persona-two {
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {
  .case-research-container {
    top: 1250px;
  }

  .sketch-onboarding, .sketch-organizing, .sketch-saving {
    display: none;
  }

  .section-box-assumptions {
    position: absolute;
    top: 450px;
  }

  .survey-screenshot {
    position: absolute;
    display: inline-block;
    padding: 0;
    /* left: 581px; */
    /* right: 0px; */
    top: 516px;
    margin-left: 600px;
  }

  .survey-screenshot img {
    display: block;
    position: absolute;
    right: 0px;

  }

  .survey-screenshot-mobile {
    display: none;
  }

  .horizontal-section-wrapper-one {
    position: absolute;
    background-color: #F7F9FF;
    top: 6100px;
    left: 0px;
    right: 0px;
    height: 459px;
    width: auto;
    max-width: 1920px;
    margin: 97px auto 0;
    /* display: flex;
    justify-content: center; */
  }

  .horizontal-section-wrapper-one .row {
    width: 760px;
    margin: 0 auto;
  }

  .competition-wrapper {
    position: absolute;
    /* left: 351px; */
    top: 1861px;
    /* width: 1116px; */
    /* margin-top: 97px; */
  }

  .research-sketches-wrapper {
    position: relative;
    top: 2400px;
  }

  .research-sketches img {
    display: block;
  }

  .sketch-titles {
    display: inline-block;
    position: absolute;
    right: 20px;
  }

  .sketch-titles ul {
    text-align: center;
  }

  .defining-users-wrapper {
    top: 3345px;
    padding: 0 15px;
  }

  .defining-users-wrapper p {
    width: 1116px;
  }

  .user-personas-wrapper {
    display: flex;
    justify-content: center;
  }

  .defining-users-wrapper p {
    width: 1116px;
  }

  .user-personas-wrapper {
    display: flex;
    justify-content: center;
  }

  .user-persona-one .case-study-button, .user-persona-two .case-study-button {
    margin: 0 auto;

  }
}

@media screen and (min-width: 1660px) {
  .horizontal-section-wrapper-one {
    top: 6050px;
  }
}

/****************CASE INFORMATION ARCHITECTURE STYLING (class: case-architecture-container)****************/
/* Positioning the container
of this section*/
.case-architecture-container {
  position: relative;
  top: 5900px;
}

.tasks-box .highlights-title {
  text-align: center;
}

.tasks-points h3 {
  margin-top: 25px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #000000;
  text-align: center;
}

.prototype-changes-box .horizontal-section-title {
  text-align: center;
}

.changes-list li {
  font-size: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  list-style: none;
  margin-top: 34px;
}

.user-flow {
  display: none;
}

.user-flow-mobile {
  margin-top: 36px;
}

.user-flow-mobile img {
  padding: 0 15%;
  width: 100%;
}

.wireframe-sketches {
  margin-top: 70px;
}

.sketch-screenshot-one, .sketch-screenshot-two, .sketch-screenshot-three {
  display: none;
}

.sketch-screenshot-mobile {
  margin: 0 auto;
  margin-top: 81px;
}

.wireframe-digital {
  margin-top: 126px;
}

.wireframes-images-one, .wireframes-images-two, .wireframes-images-three {
  display: none;
}

.wireframes-images-mobile {
  margin: 0 auto;
  margin-top: 63px;
}

.usability-testing {
  margin-top: 70px;
}

.tasks-wrapper {
  margin-top: 70px;
}

.prototype-changes-box .horizontal-section-title {
  padding: 0 7%;
}

.pinpointed-text {
  margin-top: 0px;
}

.pinpointed-text p {
  margin-top: 0px;
}

.content-strategy {
  margin-top: 70px;
  top: 1100px;
}

.content-strategy-image {
  display: none;
}

.content-strategy-mobile {
  margin-top: 40px;
  top: 1100px;
}

.content-strategy-mobile img {
  padding: 0 15%;
  width: 100%;
}

.prototype-changes {
  /* height: 798px; */
  top: 19800px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.prototype-changes-box {
  margin: 10% 0;
}

.prototype-changes-points {
  padding: 0% 3%;
}

/* Responsive section */
@media screen and (min-width: 414px) {
  .prototype-changes {
    top: 19600px;
  }
}
@media screen and (min-width: 750px) {
  .case-architecture-container {
    top: 5700px;
  }

  .prototype-changes {
    top: 19000px;
  }

  .content-strategy {
    top: 800px;
  }

  .content-strategy-mobile {
    top: 800px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .case-architecture-container {
    top: 6300px;
  }

  .user-flows-wrapper {
    position: absolute;
    top: 500px;
  }

  .user-flow-mobile {
    top: 540px;
  }

  .wireframe-sketches {
    position: absolute;
    top: 950px;
  }

  .sketch-screenshot-mobile {
    display: none;
  }

  .sketch-screenshot-one, .sketch-screenshot-two, .sketch-screenshot-three {
    display: inline-block;
  }

  .sketch-screenshot-one img {
    width: 77%;
  }

  .sketch-screenshot-two img, .sketch-screenshot-three img {
    width: 85%;
  }

  .sketch-screenshot-one {
    top: 1250px;
  }

  .sketch-screenshot-two {
    position: absolute;
    top: 748px;
  }

  .sketch-screenshot-three {
    position: absolute;
    top: 1250px;
  }


  .wireframe-digital-wrapper {
    top: 1300px;
  }

  .wireframes-images-mobile {
    display: none;
  }

  .wireframes-images-one, .wireframes-images-two {
    display: inline-block;
  }

  .wireframes-images-two {
    position: absolute;
    top: 2150px;
    left: 450px;
  }

  .wireframes-images-one img {
    width: 80%;
  }

  .wireframes-images-two img {
    width: 107%;
  }

  .usability-testing {
    position: absolute;
    top: 2600px;
  }

  .tasks-wrapper {
    top: 2018px;
  }

  .usability-text {
    top: 1920px;
  }

  .prototype-changes {
    top: 14227px;
  }

  .content-strategy {
    position: absolute;
    top: 4524px;
  }

  .content-strategy-mobile {
    display: none;
  }

  .content-strategy-image {
    display: inline-block;
    position: absolute;
    top: 4600px;
    right: 0;
  }

}

@media screen and (min-width: 1280px) {
  .case-architecture-container {
  top: 5050px;
  }

  .user-flow-mobile {
    display: none;
  }

  .user-flow {
    display: block;
    position: relative;
    top: 471px;
  }

  .sketch-screenshot-mobile, .wireframes-images-mobile, .content-strategy-mobile  {
    display: none;
  }

  .user-flows-wrapper, .wireframe-sketches {
    padding: 0 0 0 15px;
  }

  .content-strategy-image {
    display: block;
    position: absolute;
    right: 0px;
    width: auto;
    top: 4500px;
    padding: 0;
    margin-left: 635px;
  }

  .user-flows-wrapper {
    position: absolute;
    top: 405px;
  }

  .user-flow {
    position: relative;
    top: 471px;
  }

  .wireframe-sketches {
    position: absolute;
    top: 997px;
  }

  .sketch-screenshot-one, .sketch-screenshot-two, .sketch-screenshot-three {
    display: block;
  }

  .sketch-screenshot-one {
    top: 1095px;
  }

  .sketch-screenshot-two {
    /* margin-left: 134px; */
    position: relative;
    top: 636px;
    left: 105px;
  }

   .sketch-screenshot-three {
      position: relative;
      top: 716px;
      left: 105px;
   }

  .wireframe-digital-wrapper {
    top: 830px;
  }

  .wireframes-images-one, .wireframes-images-two, .wireframes-images-three {
    display: block;
  }

  .wireframes-images-one {
    margin-top: 48px;
  }

  .wireframes-images-two {
    /* display: inline-block; */
    position: relative;
    top: 390px;
    margin-left: 670px;
  }

  .usability-testing {
    top: 500px;
  }

  .usability-text {
    top: 470px;
  }

  .tasks-wrapper {
    /* display: inline-block;
    position: absolute;
    left: 647px; */
    top: 567px;
  }

  .prototype-changes {
    height: 610px;
    display: flex;
    justify-content: center;
  }

  .pinpointed-text {
    position: absolute;
    top: 3520px;
  }

  /* .prototype-changes {
    top: 2430px;
  } */
  .prototype-changes {
    top: 13280px;
    left: 0px;
    right: 0px;
    position: absolute;
  }

  .prototype-changes-box {
    position: relative;
    width: 760px;
    margin: 33px 0px 33px 0px;
  }

  .content-strategy {
    position: absolute;
    top: 4416px;
  }

}

@media screen and (min-width: 1920px) {
  .prototype-changes {
    top: 13100px;
  }
}



/****************CASE VISUAL DESIGN STYLING (class: visual-design-container)****************/
/* Positioning the container
of this section*/
.visual-design-container {
  position: relative;
  top: 7150px;
  margin-top: 180px;
}

/* .visual-design-container .section-heading, .brand-value-wrapper,
.style-guide-wrapper, .hifi-mockups-wrapper, .testing-mockups-wrapper,
.style-guide-wrapper {
  position: relative;
  width: 1116px;
  left: 343px;
} */


.brand-value-wrapper {
  height: 1441px;
  padding: 0;
}



.logo-sketches-wrapper {
  position: absolute;
  top: 1800px;
  /* left: 574px; */
  margin-top: 70px;
}

.logo-sketches-wrapper img {
  width: 100%;
}

/* .logo-sketches-wrapper {
  left: 0;
  top: 900px;
} */

.logo-sketch-one, .logo-sketch-two {
  margin-bottom: 100px;
}

/* .logo-sketch-one, .logo-sketch-two, .logo-sketch-three {
  margin-left: 98px;
} */

/* .visual-design-container .horizontal-section-wrapper {
  position: relative;
  height: 539px;
  display: flex;
  justify-content: center;
} */

.logo-sketch-one, .logo-sketch-two, .logo-sketch-three {
  margin-left: 0px;
}

.horizontal-section-title, .branding-elements-points {
  padding: 0% 12%;
}

.branding-elements {
  position: absolute;
  top: 25180px;
  /* height: 1100px; */
  height: 1350px;
  /* height: 585px; */
  display: flex;
  justify-content: center;
  left: 0px;
  right: 0px;
  width: 100%;
}

.branding-elements-box {
  width: 100%;
}

.branding-list li {
  font-size: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  list-style: none;
  margin-top: 34px;
}

.branding-elements-box {
  /* position: absolute;
  width: 760px; */
  margin: 38px 0px 38px 0px;
}

.branding-elements-box .horizontal-section-title {
  text-align: center;
}

.style-guide-wrapper {
  padding: 0;
  /* margin-top: 2930px; */
  margin-top: 2830px;
}

/* .style-guide-wrapper .case-study-button {
  margin-top: 78px;
} */

.style-guide-wrapper .section-box {
  position: absolute;
}



.style-guide-image {
  margin-left: 50px;
}

/* .hifi-mockups-wrapper {
  margin-top: 74px;
  padding: 0;
} */

.hifi-mockups-wrapper .section-box {
  margin-bottom: 74px;
}

.hifi-mockup-image {
  text-align: center;
  margin-bottom: 86px;
}



.testing-mockups-wrapper .section-box, .paragraph-column-one {
  padding: 0;
}

.paragraph-column-two {
  left: 570px;
  position: absolute;
  top: 67px;
}

.paragraph-column-two p {
  margin-top: 0px;
  margin-bottom: 30px;
}

.additional-improvements {
  position: absolute;
  left: 0;
  right: 0;
  height: 539px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  top: 29520px;
  width: 100%;
  height: 1020px;
}

.additional-improvements-box {
  position: absolute;
  width: 760px;
  margin: 35px auto 38px;
  /* margin-top: 35px; */
}

.additional-improvements-box h2 {
  text-align: center;
  margin-bottom: 38px;
}



.additional-improvements-box {
  width: 100%;
}

.additional-improvements-box .horizontal-section-title {
  padding: 0% 6%;
}

.additional-improvements-points {
  padding: 0% 12%;
}

.improvements-list li {
  font-size: 19px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  list-style: none;
  margin-top: 22px;
}

.concluding-note {
  position: relative;
  /* width: 1116px; */
  height: 394px;
  /* left: 343px; */
  text-align: center;
  /* margin-top: 576px; */
}

.concluding-note p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  position: relative;
  top: 135px;
}





.airbox-logo-image {
  display: none;
}

.airbox-logo-mobile {
  margin-top: 85px;
}

.airbox-logo-mobile img {
  width: 100%;
}

.brand-value-wrapper {
  margin-top: 60px;
}

.brand-value-wrapper .paragraph-description {
  margin-top: 42px;
}

.brand-value-wrapper p {
  margin-top: 0;
}





.style-guide-wrapper .case-study-button {
  margin: 655px auto 0;
  text-align: center;
}

.style-guide-images-wrapper {
  display: inline-block;
  position: relative;
  left: 0px;
  margin-top: 300px;
  padding: 0;
}

.style-guide-image {
  display: none;
}

.style-guide-mobile {
  margin-top: 200px;
  text-align: center;
}

.hifi-mockups-wrapper {
  margin-top: 200px;
  padding: 0;
}

.hifi-mockup-image {
  display: none;
}

.hifi-mockup-mobile {
  text-align: center;
}

.testing-mockups-wrapper {
  margin-top: 70px;
}

.paragraph-column-two {
  padding: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 630px;
}

.concluding-note {
  height: 294px;
  margin: 0;
  padding: 0% 6%;
  top: 1550px;
  text-align: left;
}

.concluding-note p {
  top: 0;
  margin-top: 55px;
}

@media screen and (min-width: 414px) {
  .branding-elements {
    height: 1100px;
  }

  .style-guide-wrapper {
    margin-top: 2930px;
  }

  .style-guide-mobile {
    margin-top: 150px;
  }

  .paragraph-column-two {
    margin-top: 570px;
  }

  .additional-improvements {
    top: 29250px;
  }
}

@media screen and (min-width: 750px) {
  .visual-design-container {
    top: 6700px;
  }

  .logo-sketches-wrapper {
    top: 1100px;
  }

  .logo-sketch-one, .logo-sketch-two, .logo-sketch-three {
    width: 70%;
  }

  .branding-elements {
    top: 24000px;
    height: auto;
  }

  .style-guide-wrapper {
    margin-top: 2000px;
  }

  .style-guide-mobile {
    margin-top: 0;
  }

  .paragraph-column-two {
    margin-top: 335px;
  }

  .additional-improvements {
    top: 27000px;
    height: 650px;
  }

  .concluding-note {
    top: 1050px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .visual-design-container {
    top: 9800px;
  }

  .airbox-logo-mobile {
    margin: 85px auto 0;
  }

  .brand-value-wrapper .section-box, .logo-sketches-wrapper {
    display: inline-block;
  }

  .logo-sketches-wrapper {
    position: absolute;
    top: 0;
    left: 500px;
  }

  .branding-elements {
    top: 17657px;
  }

  .style-guide-wrapper {
    margin-top: 600px;
  }

  .style-guide-wrapper .section-box {
    display: inline-block;
  }

  .style-guide-wrapper .case-study-button {
    margin: 0;
  }

  .style-guide-images-wrapper {
    margin-top: 0;
    right: 0;
  }

  .style-guide-mobile {
    position: absolute;
    margin-left: 502px;
  }

  .hifi-mockups-wrapper {
    margin-top: 600px;
  }

  .hifi-mockup-mobile {
    display: none;
  }

  .hifi-mockup-image {
    display: block;
  }

  .hifi-mockup-image img {
    width: 85%;
  }

  .paragraph-column-one {
    display: inline-block;
    padding: 0% 5% 0% 0%;
  }

  .paragraph-column-two {
    display: inline-block;
    position: absolute;
    margin-top: 74px;
    left: 400px;
    padding: 0% 5% 0% 0%;
  }

  .additional-improvements {
    top: 20400px;
  }

  .concluding-note {
    top: 800px;
    text-align: center;
    padding: 0% 10% 0% 10%;
  }

}

@media screen and (min-width: 1280px) {

  .visual-design-container {
    top: 7000px;
  }

  .airbox-logo-mobile, .style-guide-mobile, .hifi-mockup-mobile {
    display: none;
  }

  .airbox-logo-image {
    display: flex;
    justify-content: center;
    margin: 102px 0px 80px 0px;
  }

  /* .brand-value-wrapper .section-box, .logo-sketches-wrapper {
    display: inline-block;
  } */

  .logo-sketches-wrapper {
    position: absolute;
    top: 0px;
    /* left: 574px; */
    right: 0px;
    margin-top: 70px;
  }

  .logo-sketches-wrapper img {
    width: auto;
  }

  .brand-value-wrapper .paragraph-description {
    width: 440px;
  }

  .branding-elements {
    position: absolute;
    top: 16960px;
    height: 585px;
    display: flex;
    justify-content: center;
    left: 0px;
    right: 0px;
  }

  .branding-list li {
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
    margin-top: 34px;
  }

  .branding-elements-box {
    position: relative;
    width: 760px;
    margin: 33px 0px 33px 0px;
  }

  .branding-elements-box .horizontal-section-title {
    text-align: center;
  }

  .horizontal-section-title, .branding-elements-points {
    padding: 0% 3%;
  }

  .style-guide-wrapper {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2600px;
    /* margin-top: 673px; */
  }

  .style-guide-wrapper .case-study-button {
    margin-top: 78px;
    position: absolute;
  }

  .style-guide-images-wrapper {
    display: inline-block;
    position: relative;
    left: 574px;
    margin-top: 42px;
    padding: 0;
  }

  .style-guide-image {
    display: block;
    margin-left: 50px;
  }

  .hifi-mockups-wrapper {
    margin-top: 74px;
    padding: 0;
    position: relative;
    top: 1500px;
  }

  .hifi-mockups-wrapper .section-box {
    margin-bottom: 74px;
  }

  .hifi-mockup-image {
    display: block;
  }

  .testing-mockups-wrapper {
    position: relative;
    top: 1431px;
  }

  /* .paragraph-column-one, .paragraph-column-two {
    display: inline-block;
    position: relative;
  } */

  .paragraph-column-one, .paragraph-column-two {
    width: 540px;
  }

  .paragraph-column-two {
    position: absolute;
    padding: 0;
    left: 570px;
    margin: 66px 0 0;
  }

  .additional-improvements {
    position: absolute;
    top: 20100px;
    left: 0;
    right: 0;
    height: 539px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  .additional-improvements-box {
    position: absolute;
    width: 760px;
    margin: 35px auto 38px;
    /* margin-top: 35px; */
  }

  .additional-improvements-box h2 {
    text-align: center;
    margin-bottom: 38px;
  }

  .additional-improvements-points {
    padding: 0;
  }

  .concluding-note {
    margin-top: 600px;
    top: 1725px;
    text-align: center;
    padding: 0% 20%;
  }

}

@media screen and (min-width: 1366px) {
  .branding-elements {
    top: 16900px;
  }

  .additional-improvements {
    top: 19900px;
  }
}

@media screen and (min-width: 1440px) {
  .branding-elements {
    top: 16800px;
  }

  .concluding-note {
    margin-top: 700px;
  }
}

@media screen and (min-width: 1600px) {
  .style-guide-wrapper {
    top: 2680px;
  }

  .branding-elements {
    top: 16650px;
  }

  .additional-improvements {
    top: 19950px;
  }

  .concluding-note {
    margin-top: 850px;
  }

}

@media screen and (min-width: 1920px) {
  .visual-design-container {
    top: 7350px;
  }

  .branding-elements {
    top: 16900px;
  }

  .style-guide-images-wrapper {
    left: 800px;
  }

  .concluding-note {
    padding: 0% 30%;
    margin-top: 600px;
  }
}


/****************CASE LESSONS LEARNED STYLING (class: lessons-learned-container)****************/
/* Positioning the container
of this section*/
.lessons-learned-container {
  position: absolute;
  background-color: rgba(135, 135, 135, 0.1);
  /* width: 100%; */
  height: 2155px;
  top: 31000px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.concluding-section-wrapper {
  position: absolute;
  width: 1116px;
  height: 831px;
  /* left: 343px; */
  margin: 50px 0px 50px 0px;
  padding: 0;
}

.concluding-section-title {
  text-align: center;
  margin-bottom: 91px;
}

.concluding-section-paragraph {
  padding: 0;
}

.column-one, .column-two {
  position: absolute;
  width: 540px;
  display: inline-block;
  padding: 0;
}

/* .column-two {
  left: 570px;
} */

.column-one p, .column-two p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: #000000;
}

.lessons-learned-buttons {
  width: 1116px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  right: 0px;
  left: 0px;
  top: 1900px;
  margin-top: 75px;
  display: block;
  width: 100%;
  text-align: center;
}

.desktop-prototype-button, .mobile-prototype-button {
  display: inline-block;
  margin-top: 0px;
}

.desktop-prototype-button {
  margin-right: 112px;
}

.concluding-section-wrapper {
  /* width: 375px; */
  left: 0;
  width: 100%;
}

.column-one, .column-two {
  width: 100%;
  padding: 0% 6%;
}

.column-two {
  left: 0;
  top: 1000px;
}

.desktop-prototype-button {
  margin-right: 0px;
  margin-bottom: 20px;
}

/* Responsive section */
@media screen and (min-width: 414px) {
  .lessons-learned-container {
    top: 30700px;
  }

  .column-two {
    left: 0;
    top: 950px;
  }

  .lessons-learned-buttons {
    top: 1775px;
  }
}

@media screen and (min-width: 750px) {
  .lessons-learned-container {
    top: 28000px;
    height: 1300px;
  }

  .column-two {
    top: 500px;
  }

  .lessons-learned-buttons {
    top: 1075px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lessons-learned-container {
    top: 21450px;
    height: 1230px;
  }

  .lessons-learned-container .column-one, .lessons-learned-container .column-two {
    display: inline-block;
  }

  .lessons-learned-container .column-two {
    top: 0;
    margin-left: 500px;
  }

  .lessons-learned-buttons {
    top: 1000px;
  }

  .lessons-learned-buttons .desktop-prototype-button {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .lessons-learned-container {
    position: absolute;
    height: 1000px;
    top: 21050px;
  }

  .concluding-section-wrapper {
    width: 1116px;
    margin: 50px auto 0;
    right: 0px;
  }

  .column-one, .column-two {
    padding: 0 3%;
  }

  .column-two {
    top: 0;
    left: auto;
    right: 0px;
  }

  .lessons-learned-buttons {
    width: 1116px;
    position: absolute;
    top: 787px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .desktop-prototype-button, .mobile-prototype-button {
    display: inline-block;
    margin-top: 0px;
  }

  .desktop-prototype-button {
    margin-right: 112px;
  }

}
/****************CASE WORKING TOGETHER STYLING (class: working-together-container)****************/
/* Positioning the container
of this section*/
.working-together-container {
  position: relative;
  top: 11095px;
}

.working-together-wrapper {
  position: relative;
  padding: 0;
  text-align: center;
}

.working-together-title h3 {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #000000;
  height: 29px;
  }

.working-together-title {
  padding: 0;
}


.working-together-wrapper .case-button {
  margin: 50px auto 0;
}


.illustration-toronto-fade {
  display: none;
}

.illustration-toronto-fademobile {
  position: absolute;
  top: 33325px;
  padding: 0;
  left: 0px; */
  height: 427px;
  mix-blend-mode: darken;
}

.illustration-toronto-fademobile img {
  width: 100%;
}

.illustration-toronto-fade img {
  width: 100%;
}

/* Responsive section */
@media screen and (min-width: 414px) {
  .illustration-toronto-fademobile {
    top: 32950px;
  }
}

@media screen and (min-width: 750px) {
  .working-together-container {
    top: 9200px;
  }

  .illustration-toronto-fademobile {
    top: 29300px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .working-together-container {
    top: 12000px;
  }

  .illustration-toronto-fademobile {
    display: none;
  }

  .illustration-toronto-fade {
    display: block;
    position: absolute;
    top: 22900px;
    /* left: 0px; */
    /* width: 1812px; */
    max-width: 1812px;
    left: auto;
    right: auto;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    mix-blend-mode: darken;
  }
}

@media screen and (min-width: 1280px) {
  .working-together-container {
    top: 9800px;
  }

  .working-together-wrapper {
    top: 148px;
  }

  .working-together-wrapper .case-button {
    margin-top: 40px;
  }

  .illustration-toronto-fademobile {
    display: none;
  }

  .illustration-toronto-fade {
    display: block;
    position: absolute;
    top: 22180px;
    /* left: 0px; */
    /* width: 1812px; */
    max-width: 1812px;
    left: auto;
    right: auto;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    mix-blend-mode: darken;
  }

  .illustration-toronto-fade {
    /* right: 400px; */
    /* mix-blend-mode: darken; */
    /* top: 10px; */
  }

  /* .illustration-toronto-fade {
    display: none;
    position: absolute;
    top: 33000px;
  } */

  /* .illustration-toronto-fade img {
    width: auto;
    margin: 0 auto;
  } */

  .working-together-wrapper .case-button {
    margin-top: 40px;
  }

}

@media screen and (min-width: 1440px) {
  .illustration-toronto-fade {
    top: 22130px;
  }
}


@media screen and (min-width: 1600px) {
  .illustration-toronto-fade {
    top: 22075px;
  }
}

@media screen and (min-width: 1700px) {
  .illustration-toronto-fade {
    top: 22015px;
  }
}

@media screen and (min-width: 1920px) {
  .working-together-wrapper {
    top: 550px;
  }
}

/****************CASE FOOTER STYLING (class: footer-wrapper)****************/
/* Positioning the container
of this section*/



.case-body .footer-wrapper {
  top: 33596px;
  margin-top: 0px;
}


/* Responsive section */
@media screen and (min-width: 414px) {
  .case-body .footer-wrapper {
    top: 33250px;
  }
}
@media screen and (min-width: 750px) {
  .case-body .footer-wrapper {
    top: 29850px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .case-body .footer-wrapper {
    top: 23235px;
  }
}

@media screen and (min-width: 1280px) {

  .case-body .footer-wrapper {
    top: 22033px;
    margin-top: 567px;
  }

  /* .case-body .footer-container {
    padding-right: 0;
  }   */

}
